<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/playPage.css">


  <title>Wordle Game - Plays</title>
</head>
<body>
  <section class="play-section">
    <header>
      <h1 class="play-section__title">Guess the word!</h1>
    </header>
    <div class="game-container">
      <form class="word-form" id="try1">
        <input class="word-form__input"  type="text" maxlength="1" />
        <input class="word-form__input"  type="text" maxlength="1" />
        <input class="word-form__input"  type="text" maxlength="1" />
        <input class="word-form__input"  type="text" maxlength="1" />
        <input class="word-form__input"  type="text" maxlength="1" />

        <button class="submit-button">submit</button>
      </form>

      <form class="word-form" id="try2">
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
      </form>

      <form class="word-form" id="try3">
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
      </form>

      <form class="word-form" id="try4">
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
      </form>

      <form class="word-form" id="try5">
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
      </form>

      <form class="word-form" id="try6">
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
        <input class="word-form__input" type="text" maxlength="1" />
      </form>
    </div>
  </section>

  <script src="../js/playPage.js"></script>
</body>
</html>